/*----INDEX----*/


/*Header*/

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    background: #000;
    color: antiquewhite;
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
}


a {
    color: antiquewhite;
    text-decoration: none;
}

ul {
    list-style: none;
}

header .container {
    width: 90%;
    margin: auto;
}




/* nav main boopstrap */

.container-fluid {

    font-size: 30px;

}

.navbar-brand {

    width: 400px;
    height: 160px;

}


.navbar-nav {

    margin: auto;


}

.nav-item {

    padding: 0 15px 0 15px;

}

/* .navbar navbar-expand-lg bg-body-tertiary {
    background-color: rgb(255, 0, 0);

} */

.container-fluid {
    background-color: #000;
}

.nav-item a {

    color: rgb(255, 255, 255);

}

.nav-item a:hover {

    color: yellow;
}



/*Main*/
.showcase {
    width: 100%;
    height: 400px;
    background: url("../Images.img/Image\ Header.jpg") no-repeat center center/cover;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;
    color: #fff;

}



.nav-brand {
    width: auto;
}

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px;
}

.nav-main ul li a {
    padding: 6px;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid #fff;
}

.nav-main ul.nav-menu {
    margin-left: 20px;
    flex: 1;
}


.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    margin: 5px 0;
}

/*News Cards*/
.news-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 100px;
    margin: 10px 0;
}

.news-cards img {
    width: 50%;
    height: 120px;
}

.news-cards {
    font-size: 20px;
    margin: 10px 0;

}


.news-cards h3 {

    color: #fff;
    display: inline-block;
    font-weight: bold;
}

.news-cards a:hover {
    text-decoration: underline;

}


.links img {

    margin-left: 340px;


}











/*----PAGE NOSOTROS----*/


.newcards-nosotros {

    width: 100%;
    height: 400px;
    background: url("../Images.img/Image\ Nosotros.jpg") no-repeat center center/cover;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;
    color: #fff;


}

.newscards-nosotros section {

    text-align: center;


}


/*------PAGE SERVICIOS*/


.newscards-servicios {

    width: 100%;
    height: 400px;
    background: url("../Images.img/Imagen\ servicios\ 2.jpg") no-repeat center center/cover;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;
    color: #fff;


}

.newscards-servicios section {

    text-align: center;


}


/*-----PAGE NOTICIAS----*/


.newscards-noticias {

    width: 100%;
    height: 400px;
    background: url("../Images.img/image\ News.jpg") no-repeat center center/cover;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;
    color: #fff;


}

.newscards-noticias section {

    text-align: center;


}

/*---PAGES CONTACTO*/

.newscards-contacto {

    width: 100%;
    height: 400px;
    background: url("../Images.img/Image\ contacto.jpg") no-repeat center center/cover;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;
    color: #fff;


}

.newscards-contacto section {

    text-align: center;


}

.newscards-contacto iframe {
    border-bottom: 30px;
}

.iframe-maps {
    margin: 30px 0px 30px 0px;
    ;

}



/*footer*/

.footer-links {
    background: #111111;
    color: #fff;
    font-size: 15px;
    padding: 10px 0;
}

.footer-links li {
    line-height: 2.0;
    text-decoration: none;
}

.Copyright {

    color: #616161;
    font-size: 20px;
    padding: 5px 0;
    text-align: center;
    font-size: 1rem;

}

/*--MEDIAQUERI--*/

@media screen and (max-width:480px) {

    /* nav main ind */

    .navbar-brand {

        width: 150px;
        height: 100px;

    }

    .container-fluid {

        font-size: 20px;


    }

    .navbar-toggler {
        color: #fff;

    }

    .navbar-toggler-icon {
        background-color: #fff;
    }


    /*Main*/

    .showcase {
        width: 100%;
        height: 300px;

    }





    .nav-main ul {
        display: block;
        text-align: left;
    }

    .nav-main ul li {
        padding: 5px;
    }





    .nav-main ul.nav-menu {
        margin-left: 0px;

    }



    /*News Cards*/
    .news-cards {
        display: block;

    }

    .news-cards img {
        width: 30%;
        height: 120px;
        display: block;
        margin-left: 160px;
    }

    .news-cards {
        font-size: 15px;
        /* margin: 10px 0; */

    }

    .news-cards p {
        margin: 10px 10px 10px 10px;

    }

    .news-cards h3 {


        text-align: center;

        margin: 10px 10px 10px 160px;

    }

    .news-cards a {

        margin-left: 185px;
        margin-bottom: 30px;

    }

    /*footer*/

    .footer-links {
        background: #111111;
        color: #fff;
        font-size: 15px;
        /* padding: 100px 0; */
        text-align: center;
    }

    .footer-links li {
        line-height: 2.0;
        text-decoration: none;

    }

    .Copyright {

        color: #616161;
        font-size: 20px;
        padding: 5px 0;
        text-align: center;
        font-size: 1rem;

    }

    .links img {

        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;


    }






}